<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>This is my first blogging website created using NodeJs and using all the functionality of MongoDB.
         You can create new blogs, delete them and view them in the blogs section. 
      </p>
     </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>